{{/* gotype: justapengu.in/acsm.trackDetailsTemplateVars */}}

{{ define "title" }}{{ $.Track.PrettyName }}{{ end }}

{{ define "content" }}
    <div class="track-details">
        <h1 class="text-center mb-0">{{ $.Track.PrettyName }}</h1>

        <div class="mb-2 text-center">
            {{ if $.Track.IsPaidDLC }}<span class="badge bg-dlc">DLC</span>{{ end }}
            {{ if $.Track.IsMod }}<span class="badge bg-mod">Mod</span>{{ end }}
            {{ if not (or $.Track.IsPaidDLC $.Track.IsMod) }}<span class="badge bg-default-content">Default</span>{{ end }}
        </div>

        {{ with $.Track.MetaData.Notes }}
            <h2>Notes</h2>

            <p>{{ trustHTML . }}</p>
        {{ end }}

        {{ with $.Track.MetaData.DownloadURL }}
            <div class="mb-2 float-right"><a class="btn btn-primary" href="{{ . }}">Download</a></div>

            <div class="clearfix"></div>
        {{ end }}

        <h2>Layouts</h2>

        {{ range $index, $layout := $.Track.Layouts }}
            {{ if and WriteAccess $.HasAISplineFiles }}
                <div class="modal fade pitlane-detection-modal" id="{{ safeLayoutName $layout }}-splines" tabindex="-1" role="dialog" aria-labelledby="{{ safeLayoutName $layout }}-splines-label" aria-hidden="true">
                    <div class="modal-dialog spline-modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="{{ safeLayoutName $layout }}-splines-label">{{ prettify $layout true }} Pit Lane Detection</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Pit Lane Detection is used by a few things in the manager, the Live Timings page uses it to display
                                when a driver is in the pits, the Penalty system uses it to give drive through penalties and more!</p>

                                <p>The Pit Lane is shown in orange. If it doesn't look correct try tweaking the values
                                    below then clicking recalculate!</p>

                                {{ $layoutMetaData := index $.Track.MetaData.Layouts $layout }}

                                <form class="form form-inline recalculate-splines">
                                    <label class="mr-2" style="margin-bottom: .5rem;" for="Distance">Distance</label>
                                    <input type="number" step="0.1" class="form-control mb-2 mr-sm-2 distance" id="{{ $layout }}-distance"
                                           {{ with $layoutMetaData }}value="{{ .SplineCalculationDistance }}" {{ else }}value="3.0"{{ end }}
                                    >

                                    <label class="mr-2" style="margin-bottom: .5rem;" for="MaxSpeed">Max Speed</label>
                                    <input type="number" step="0.1" class="form-control mb-2 mr-sm-2 maxSpeed" id="{{ $layout }}-maxSpeed"
                                           {{ with $layoutMetaData }}value="{{ .SplineCalculationMaxSpeed }}" {{ else }}value="30.0"{{ end }}
                                    >

                                    <label class="mr-2" style="margin-bottom: .5rem;" for="MaxDistance">Max Distance</label>
                                    <input type="number" step="0.1" class="form-control mb-2 mr-sm-2 maxDistance" id="{{ $layout }}-maxDistance"
                                           {{ with $layoutMetaData }}value="{{ .SplineCalculationMaxDistance }}" {{ else }}value="4.0"{{ end }}
                                    >

                                    <button class="btn btn-primary mb-2 recalculate-splines-button">Recalculate and Save</button>

                                    <div class="status-indicator" style="display: none;">
                                        <i class="fas fa-spinner fa-pulse ml-3 mb-1"></i>
                                    </div>
                                </form>

                                <div><small class="font-italic">
                                        Distance = The distance between the fast lane and pit lane at which they
                                        would still be considered to be “overlapping”. Increase this to give a bigger
                                        gap between track and pit lane entry/exit.
                                </small></div>

                                <div><small class="font-italic">
                                        Max Speed = The maximum speed that AI are instructed to drive through the pit lane at. This is useful for filtering out
                                        some overlapping pit entry and exit lines. Reduce the speed to shorten the line. Increase the speed to lengthen the line.
                                </small></div>

                                <div><small class="font-italic">
                                        Max Distance = The maximum allowable distance between two points that considers them part of the same track segment.
                                        Some tracks define their AI line too long, so Server Manager uses this number to help it find the largest continuous unbroken
                                        segment of track. If you are not seeing a pitlane, increase this number. If you are seeing too many pitlane lines, decrease this number.
                                </small></div>

                                <img class="img img-fluid splines-image"
                                     data-src="{{ trackSplineURL $.Track.Name $layout }}"
                                >

                                <p class="text-warning">If the image is missing please re-upload your track!</p>

                                <span class="d-none splines-image-base-url">{{ trackSplineURL $.Track.Name $layout }}</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}

            <div class="card mt-2">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-img track-layout">
                                <img class="img img-fluid car-image" src="{{ trackLayoutURL $.Track.Name $layout }}"
                                     alt="{{ $.Track.PrettyName }}, layout {{ $layout }}"
                                     title="{{ prettify $layout true }}" data-layout="{{ $layout }}"
                                     data-toggle="tooltip" data-placement="bottom">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <h3 class="card-title mb-0">{{ prettify $layout true }} Layout</h3>

                            {{ $info := index $.TrackInfo $layout }}

                            {{ with $info }}
                                <div class="mb-1"><i>{{ $info.City }} {{ $info.Country }}</i></div>

                                <span><strong>Length: </strong>{{ $info.Length }}</span>
                                <span><strong>Run: </strong>{{ $info.Run }}</span>
                                <span><strong>Width: </strong>{{ $info.Width }}</span>
                                <span><strong>Pitboxes: </strong>{{ $info.Pitboxes }}</span>

                                <div><strong>Geotags: </strong>{{ stringArrayToCSV $info.Geotags }}</div>

                                <div><strong>Tags: </strong>{{ stringArrayToCSV $info.Tags }}</div>
                            {{ end }}

                            {{ if WriteAccess }}
                                {{ if $.HasAISplineFiles }}
                                    <div class="mt-2">
                                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#{{ safeLayoutName $layout }}-splines">
                                            Pit Lane Detection
                                        </button>
                                    </div>
                                {{ else }}
                                    <p class="text-warning">
                                        Pit Lane Detection is not available! Please make sure the track has <code>fast_lane.ai</code>
                                        and <code>pit_lane.ai</code> files for each layout and then re-upload the track to the Manager!
                                    </p>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>

                    {{ with $info }}
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <p>{{ $info.Description }}</p>
                            </div>
                        </div>
                    {{ end }}
                </div>

                <hr>

                <div class="card-body">

                    <h2>Sessions</h2>

                    {{ $results := index $.Results $layout }}

                    <p>This layout has been used in {{ len $results}} sessions.</p>

                    <div class="list-group overflow-auto mt-3 mb-3" style="max-height: 300px;">
                        {{ range $index, $session := $results }}
                            <a class="list-group-item list-group-item-action"
                               href="/results/{{ $session.SessionFile }}">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-2 text-primary">
                                        <strong>{{ title (lower $session.Type.String) }}</strong></h5>
                                    <small>{{ fullTimeFormat $session.Date }}</small>
                                </div>
                                <p class="mb-1">{{ carList $session.Cars }}</p>
                            </a>
                        {{ end }}
                    </div>

                </div>
            </div>

        {{ end }}

        {{ if WriteAccess }}
            <form method="post" action="/track/{{ $.Track.Name }}/metadata">
                <div class="card mt-3 border-primary mt-5 mb-3">
                    <div class="card-header text-white bg-primary">
                        <strong>Track Metadata</strong>
                    </div>
                    <div class="card-body">

                        <div class="form-group row">
                            <label for="DownloadURL" class="col-sm-3 col-form-label">Download URL</label>

                            <div class="col-sm-9">

                                <input
                                        class="form-control"
                                        type="url"
                                        id="DownloadURL"
                                        name="DownloadURL"
                                        value="{{ $.Track.MetaData.DownloadURL }}"
                                        placeholder="e.g. http://racedepartment.com/..."
                                >

                                <small>Download links for tracks will be shown in
                                    Content Manager's server information screen.</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ with $.Track.MetaData.Notes }}
                                <div class="d-none" id="TrackNotes">{{ trustHTML . }}</div>
                            {{ end }}

                            <label for="summernote" class="col-sm-3 col-form-label">Notes</label>

                            <div class="col-sm-9" id="championship-info">
                                <textarea id="summernote" name="Notes"></textarea>
                                <div class="clearfix"></div>

                                <small>Notes will be shown to all users when they visit this track
                                    page.</small>
                            </div>
                        </div>

                        <div class="float-right mt-5">
                            <button class="btn btn-primary" type="submit">Save Track Metadata</button>
                        </div>
                    </div>
                </div>
            </form>
        {{ end }}

        {{ if DeleteAccess }}
            <div class="card border-danger mt-3 mb-3">
                <div class="card-header text-white bg-danger">
                    Danger Zone!
                </div>

                <div class="card-body">
                    <p class="float-left">Permanently delete this track and all associated layouts.</p>

                    <a onclick="return confirm('Are you sure you want to permanently delete this track and all associated layouts?');"
                       class="btn btn-danger float-right"
                       href="/track/{{ $.Track.Name }}/delete">
                        Delete Track
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div>
        {{ end }}
    </div>

{{ end }}
