{{ define "fixed-setup-help" }}
    <p>Fixed Setups can be used to control certain aspects of the car setup for entrants. This guide explains how to
    create and set a Fixed Setup.</p>

    <ul>
        <li>
            Load into the game and create the setup via the normal setup UI.
        </li>
        <li>
            Save the setup in game, you can save it to a specific track or to general.
        </li>
        <li>
            Find the saved setup file (should be in <code>C:\Users\user-name\Documents\Assetto Corsa\setups\car-name\track-name</code>,
            or you can open it from the car page in Content Manager). It will be called <code>name-you-typed.ini</code>.
        </li>
        <li>
            If you want to unlock any values (for example tyres or fuel) remove their entries (name and value) from the <code>.ini</code> file.
        </li>
        <li>
            Open the car page on the Manager (<a href="/cars">Cars & Setups Page</a>, then pick the car).
        </li>
        <li>
            Use the "Setup File" upload dialog to upload your fixed setup.
        </li>
        <li>
            The setup should now be available in the "Fixed Setup" dropdown on each entrant in the entry list when creating an event.
        </li>
    </ul>

{{ end }}
