{{/* gotype: justapengu.in/acsm.aboutTemplateVars*/}}

{{ define "title" }}About{{ end }}

{{ define "content" }}

    <div class="text-center">
        <h2>Assetto Corsa Server Manager</h2>
        <p>Version: {{ $.Version }}</p>

        <img src="/static/img/icon.png" alt="Emperor Servers" class="img img-responsive mb-5" style="max-width: 200px;">

        <p>&copy; <a href="https://emperorservers.com">Emperor Servers</a> {{ now.Format "2006" }}</p>


        {{ if $.IsLicensed }}
            <h3>License</h3>
            <strong>License ID:</strong> {{ $.LicenseID.String }}<br>
            <strong>License Date:</strong> {{ fullTimeFormat $.LicenseDate }}<br>
            <strong>License Expires:</strong> {{ if $.LicenseExpires.IsZero }}Never{{ else }}{{ fullTimeFormat $.LicenseExpires }}{{ end }}<br>
        {{ end }}

        <br><br>

        <em>Many components of Assetto Corsa Server Manager are open source, and can be viewed on <a href="https://github.com/JustaPenguin/assetto-server-manager">GitHub</a>.</em>
    </div>

    <br><br>

    <hr>

    <br><br>

    <h3>Acknowledgements</h3>

    <p>The following software is used by Assetto Corsa Server Manager.</p>

    <div class="card">
        <div class="card-body" style="max-height: 800px; overflow-y: auto;">
            <pre>
                {{ $.Acknowledgements }}
            </pre>
        </div>
    </div>
{{ end }}
